body {
  padding: 20px;
}

.annotator-hl {
  position: relative;
}

.annotator-hl:not(.annotator-hl-temporary):after {
  display: block;
  content: ' ';
  width: 20px;
  height: 24px;
  background: url('chrome-extension://__MSG_@@extension_id__/images/lightbolb-icon.png') top no-repeat;
  position: absolute;
  top: -20px;
  left: -5px;
}

img.thumb-up{
  width:24px;
  height:24px;
  float: right;
  margin-right: 12px;
  position: relative;
  top: 5px;
  right: 5px;
  padding-left: 5px;
}

img.thumb-down{
  width:24px;
  height:24px;
  float: left;
  position: relative;
  top: 8px;
  left: 5px;
  margin-right: 5px;
  padding-right: 5px;
}