node_modules
temp
.tmp
dist
.sass-cache
app/bower_components
test/bower_components
package
scripts/*.js
scripts/*.map
.idea

app/scripts/*.js
app/scripts/*.js.map

idea
.map
app/scripts/*.js
app/scripts/*.js.map
.xml

